.btnOpenApp {
  position: fixed;
  bottom: 15px;
  left: 10px;
  z-index: 101010;
  width: 48px;
  height: 48px;
  border-top: solid #0ff;
  border-radius: 100px;
  transform: rotate(45deg);
  background: url(/icons/chevron-up-cyan.svg) center / 30% no-repeat;
}

.app {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100vw;
  height: 100%;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  overscroll-behavior: contain;
  background-color: #789e;
}

.header {
  padding: 24px;
  font-size: 24px;
  text-shadow: 0 0 2px #aff, 0 0 32px #aff, 12px 0 32px #aff, -12px 0 32px #aff;
}

.wrapper {
  width: 100%;
  max-width: 700px;
  min-height: 100vh;
  padding: 24px 24px 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #aff;
}

.form {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  min-height: 48px;
  padding: 12px;
  outline: none;
  color: #aff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #aff;
  border-right: none;
  background-color: #89a;
  background-size: 300% 100%;
  background-position: 0% 50%;
  background-image: linear-gradient(
    120deg,
    #89a,
    #333 33%,
    #89a 66%,
    #333 74%,
    #89a 82%,
    #333 90%,
    #89a 98%,
    #333 99%
  );
  transition: 1s ease, scale 100ms linear, box-shadow 100ms linear;
}

.input:focus {
  scale: 1.01;
  background-color: #333;
  background-position: 43% 50%;
  box-shadow: 1px 2px 10px 1px #0004;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), scale 100ms linear,
    box-shadow 100ms linear;
}

.input::placeholder {
  color: #bcd;
}

.input:focus::placeholder {
  color: #aff;
}

.submit {
  width: 70px;
  min-width: 70px;
  min-height: 48px;
  outline: none;
  color: #aff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #aff;
  background-color: #000;
  transition: scale 100ms linear, box-shadow 100ms linear;
}

.input:focus ~ .submit {
  scale: 1.01;
  box-shadow: 1px 2px 10px 1px #0004;
}

.item {
  width: 100%;
  padding-left: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #aff;
  border-radius: 4px;
  color: #0ff;
  background-color: #111;
}

.task {
  color: #0ff;
}

.task.completed {
  color: #aee;
  text-decoration: line-through;
}

.iconsWrap {
  display: flex;
}

.penIcon,
.trashIcon {
  width: 48px;
  height: 48px;
  background: center / 40% no-repeat;
  background-image: url(/icons/pen-to-square-solid.svg);
  cursor: pointer;
}

.trashIcon {
  background-image: url(/icons/trash-can-regular.svg);
}
