.AppTodo,
.pageNewTodo {
  /* width: 100%; !!!SETTING TO PERCENTAGE GIVES IT A SCROLLBAR */
  width: 100%;
  min-height: 70vh;
  position: relative;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  overscroll-behavior: contain;
  background: slategray;
}

.btnClose {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 10px;
  background: url(/icons/xmark-solid.svg) center / 30% no-repeat;
}

.header {
  padding: 32px;
  color: #cde;
  letter-spacing: 1px;
}

.listTodos {
  width: 100%;
  max-width: 700px;
  min-height: 400px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  border: 1px solid #abc;
  border-radius: 12px;
}

.itemTodo {
  width: 100%;
  min-height: 48px;
  padding: 2px 4px;
  color: #fff;
  letter-spacing: 1px;
  font: 100 22px "Chivo", sans-serif;
  border: 1px solid #cde;
  border-radius: 3px;
}

.formNewTodo {
  width: 100%;
  max-width: 700px;
  padding: 24px;
  border: solid #678;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.inputNewTodo {
  position: relative;
  width: 100%;
  min-height: 48px;
  padding: 0 12px;
  color: #abc;
  border: 1px solid #abc;
  border-radius: 8px;
  background: transparent;
}

.inputNewTodo:focus {
  color: #fff;
  width: 100%;
  background-color: #123;
  border: none;
  outline: transparent;
}

.wrapFormBtns {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.btnNewTodo,
.btnCancel,
.btnCreate {
  width: 100%;
  max-width: 200px;
  min-height: 40px;
  margin: 24px 0;
  padding: 4px 12px;
  border: 1px solid #abc;
  border-radius: 100px;
  color: #cde;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 5px 1px #0002;
}

.btnCancel,
.btnCreate {
  margin: 0;
}

.btnNewTodo:hover,
.btnCancel:hover,
.btnCreate:hover {
  background-color: #789;
}
