.sections {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px 0;
  color: #222;
  font-size: 22px;
  background-color: #fefefe;
}

.section {
  /* border: solid; */
  width: 100%;
  max-width: 1400px;
  height: fit-content;
  position: relative;
  padding: 64px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  overflow: hidden;
  /* text-shadow: var(--text-shadow-1), 0 0 5px #000, 0 0 10px #000, 0 0 15px #000; */
}

.header {
  /* border: solid rebeccapurple; */
  width: 100%;
  height: fit-content;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 48px 24px;
  color: #fff;
  text-shadow: var(--text-shadow-2);
  font-size: 32px;
  overflow: hidden;
  /* text-shadow: var(--text-shadow-3), 4px 3px 7px #000; */
  /* text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 2px #000, 0 0 20px #0ff; */
}

.headerImage {
  width: 100%;
  /* max-width: 700px; */
  height: auto;
  aspect-ratio: 16/9;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
  margin: 0 auto;
  object-fit: cover;
  object-position: center;
}

/* INTRO ////////////////////////////////////////////////////// */
.introWrap {
  /* border: solid red; */
  display: flex;
  gap: 24px;
}

@media (max-width: 1050px) {
  .introWrap {
    flex-direction: column;
  }
}

.intro {
  /* border: solid blue; */
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.introImage {
  width: 100%;
  height: auto;
  border-radius: 32px;
}

/* GUARANTEE /////////////////////////////////////////////// */
.guaranteeWrap {
  width: 100%;
  max-width: 700px;
  padding: 24px 32px 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
  box-shadow: 0 2px 20px 1px #0003;
}

.guaranteeHeader {
  margin: auto;
}

.guaranteeContentWrap {
  /* border: solid red; */
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;
  /* text-align: center; */
}

.guaranteeImage {
  max-width: 170px;
  /* border: solid red; */
  max-height: 170px;
  border-radius: 100%;
}

.sectionSubHeader .sectionContent {
  width: 100%;
  max-width: 760px;
  height: fit-content;
  margin: 50px auto;
  position: relative;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 2px #000, 0 0 20px #0ff; */
  text-align: center;
  /* pointer-events: none; */
}

/* DETAILS ////////////////////////////////////////////// */
.details {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
}

.detailsHeader {
  padding: 24px 0;
}

.detailsContentWrap {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-right: 32px;
}

@media (max-width: 1070px) {
  .detailsContentWrap {
    flex-direction: column-reverse;
    padding-right: 0;
  }
}

.detailsImage {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 24px;
}

.detailsListWrap {
  /* border: solid magenta; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.detailsListItem {
  /* border: solid blue; */
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
}

.checkbox {
  width: 25px;
  min-width: 25px;
  height: 25px;
  border: 1px solid #0af;
  border-radius: 4px;
  background: url(/icons/check-solid.svg) center / 100% no-repeat;
}

/* WHY CHOOSE /////////////////////////////////////////// */
.sectionWhyChoose {
  width: 100%;
  max-width: 700px;
  padding: 24px 24px 32px 54px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  box-shadow: 0 2px 20px 1px #0003;
}

.whyChooseHeader {
  padding: 24px;
  text-align: center;
}

.whyChooseList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: visible;
  position: relative;
}

.whyChooseItem::before {
  content: "";
  width: 30px;
  min-width: 30px;
  height: 30px;
  position: absolute;
  left: -35px;
  margin: auto;
  background: url(/icons/drupal.svg) 50% 0% / 80% no-repeat;
  filter: drop-shadow(0 1px 4px #00f);
}

.whyChooseItem span {
  font-weight: 700;
}

.beforeAfterContainer {
  width: 100%;
  max-width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 800px) {
  .guaranteeContentWrap {
    flex-direction: column-reverse;
    text-align: center;
  }
  .beforeAfterContainer {
    flex-direction: column;
  }
}
.beforeAfterText {
  padding: 32px;
}

.imagesWrap {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: 24px;
}

.beforeImage,
.afterImage {
  position: relative;
  width: auto;
  max-width: 100%;
  height: fit-content;
  max-height: 200px;
}

.afterImage {
  position: absolute;
  animation: afterImageOpacity 5s infinite linear;
}

.beforeText,
.afterText {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  min-width: 100px;
  padding: 3px 7px;
  text-align: center;
  color: #000;
  text-shadow: none;
  background-color: #eee;
  box-shadow: 0 1px 5px 1px #0002;
}

.afterText {
  animation: afterImageOpacity 5s infinite linear;
}

@keyframes afterImageOpacity {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.section.technicalServices {
  padding-left: 0;
  padding-right: 0;
}

.section.technicalServices .sectionImage {
  width: calc(100% - 48px);
}

.stickersContainer {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
}

.pentairStickersDiv {
  /* border: solid red; */
  width: 100%;
  aspect-ratio: 512/539;
  height: auto;
  background: url(/services/certified-stickers-1024.png) 50% 0 no-repeat;
  background-size: cover;
}

.pentairStickers {
  /* border: solid rebeccapurple; */
  width: 100%;
  height: auto;
}

.stickersMessage {
  width: 100%;
  padding: 24px;
  text-align: center;
  background: rgb(11, 84, 151);
}

/* SITE LOGO FLOATING ANIMATION */
.siteLogoFloatAnim {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  /* perspective: 1000px; */
}

.logoFloatWrap {
  max-width: 170px;
  height: auto;
  display: flex;
  /* transform-style: preserve-3d; */
  /* box-shadow: 0 0 333px 33px #0ff; */
  /* animation: logoFloat 3s linear infinite; */
}

.logoFloat {
  width: 100%;
  height: auto;
}

@media (min-width: 2200px) {
  .section {
    top: -100vh;
  }
  .siteLogoFloatAnim {
    display: flex;
  }
}

/* @keyframes logoFloat {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
      transform: rotateX(4deg) rotateY(4deg);
    }
    75% {
      transform: rotateX(-4deg) rotateY(-4deg);
    }
    100% {
      transform: rotateX(0deg) rotateY(0deg);
    }
  } */
