.sections {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  /* padding-bottom: 32px; */
  color: #222;
  font-size: 22px;
  background-color: #fefefe;
}

.section {
  width: 100%;
  max-width: 1400px;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid red; */
}

.header {
  width: 100%;
  height: fit-content;
  min-height: 100px;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  text-shadow: var(--text-shadow-2);
  font-size: 32px;
  padding: 48px 24px 24px;
  box-shadow: inset 0 0 10px 1px #0004;
  background-size: cover;
  /* border: solid blue; */
}

.subHeader {
  width: 100%;
  padding: 48px 24px 0;
}

.sectionContentWrap {
  position: relative;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 64px;
  /* border: solid red; */
}

.section:nth-child(even) .sectionContentWrap {
  flex-direction: row-reverse;
}

/* INTRO ////////////////////////////////////////////////////// */
.intro {
  width: 100%;
  height: fit-content;
  min-height: 400px;
  position: relative;
  padding: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 24px;
  color: #fff;
  font: 900 24px "Comfortaa";
  text-shadow: 0 0 4px #000;
  /* filter: drop-shadow(0 0 10px #0007); */
  box-shadow: inset 0 2px 10px 1px #000a;
  background-size: cover;
}

/* DETAILS ////////////////////////////////////////////// */
.details {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: solid red; */
}

.detailsListSubHeader {
  /* border: solid blue; */
  padding-bottom: 12px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* border: solid orange; */
}

.detailsListItem {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
}

.cleaningDetailsListItem {
  display: block;
}

.checkbox {
  width: 25px;
  min-width: 25px;
  height: 25px;
  border: 1px solid #0af;
  border-radius: 4px;
  background: url(/icons/check-solid.svg) center / 100% no-repeat;
}

.sectionFooterWrap {
  position: relative;
  padding: 24px;
  padding-bottom: 64px;
  display: flex;
  align-items: center;
  gap: 64px;
}
/* WHY CHOOSE /////////////////////////////////////////// */
.sectionWhyChoose {
  width: 100%;
  max-width: 700px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  box-shadow: 0 2px 20px 1px #0003;
}

.whyChooseHeader {
  padding: 24px 0;
  text-align: center;
}

.whyChooseList {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: visible;
  font-size: 20px;
}

.whyChooseItem {
  position: relative;
  z-index: 1;
}

.whyChooseIcon {
  width: 64px;
  min-width: 30px;
  height: 64px;
  position: absolute;
  left: 12px;
  top: -12px;
  z-index: -1;
  margin: auto;
  overflow: visible;
  opacity: 0.3;
  background: url(/icons/drupal.svg) center / 80% no-repeat;
  filter: drop-shadow(0 1px 4px #00f);
}

.whyChooseItem span {
  font-weight: 700;
}

/* GUARANTEE /////////////////////////////////////////////// */
.guaranteeWrap {
  width: 100%;
  max-width: 700px;
  padding: 24px 32px 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
  box-shadow: 0 2px 20px 1px #0003;
}

.guaranteeHeader {
  margin: auto;
  text-align: center;
}

.guaranteeContentWrap {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;
}

.guaranteeImage {
  max-width: 170px;
  /* border: solid red; */
  max-height: 170px;
  border-radius: 100%;
}

.sectionSubHeader .sectionContent {
  width: 100%;
  max-width: 760px;
  height: fit-content;
  margin: 50px auto;
  position: relative;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 2px #000, 0 0 20px #0ff; */
  text-align: center;
  /* pointer-events: none; */
}

/* BEFORE/AFTER ////////////////////////////////////// */
.beforeAfterContainer {
  width: 100%;
  max-width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 32px;
}

.beforeAfterText {
  padding: 32px;
  color: #fff;
  font: 900 32px "Comfortaa", sans-serif;
  text-shadow: 0 0 3px #000;
}

.imagesWrap {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: 24px;
}

.beforeImage,
.afterImage {
  position: relative;
  width: auto;
  max-width: 100%;
  height: fit-content;
  max-height: 300px;
  border-radius: 64px;
}

.afterImage {
  position: absolute;
  animation: afterImageOpacity 3s infinite linear;
}

.beforeText,
.afterText {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  min-width: 100px;
  padding: 3px 7px;
  text-align: center;
  color: #000;
  text-shadow: none;
  background-color: #eee;
  box-shadow: 0 1px 5px 1px #0002;
}

.afterText {
  animation: afterImageOpacity 3s infinite linear;
}

@keyframes afterImageOpacity {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.section.technicalServices {
  padding-left: 0;
  padding-right: 0;
}

.section.technicalServices .sectionImage {
  width: calc(100% - 48px);
}

.stickersContainer {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
}

.pentairStickersDiv {
  /* border: solid red; */
  width: 100%;
  aspect-ratio: 512/539;
  height: auto;
  background: url(/services/certified-stickers-1024.png) 50% 0 no-repeat;
  background-size: cover;
}

.pentairStickers {
  /* border: solid rebeccapurple; */
  width: 100%;
  height: auto;
}

.stickersMessage {
  width: 100%;
  padding: 24px;
  text-align: center;
  background: rgb(11, 84, 151);
}

/* SITE LOGO FLOATING ANIMATION */
.siteLogoFloatAnim {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
  /* perspective: 1000px; */
}

.logoFloatWrap {
  max-width: 170px;
  height: auto;
  display: flex;
  /* transform-style: preserve-3d; */
  /* box-shadow: 0 0 333px 33px #0ff; */
  /* animation: logoFloat 3s linear infinite; */
}

.logoFloat {
  width: 100%;
  height: auto;
}

@media (max-width: 700px) {
  .intro {
    min-height: fit-content;
    padding: 24px;
  }
  .sectionContentWrap {
    padding-top: 0;
    gap: 32px;
  }
  .guaranteeContentWrap {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .sectionContentWrap {
    flex-direction: column-reverse;
    padding: 24px;
  }

  .section:nth-child(even) .sectionContentWrap {
    flex-direction: column-reverse;
  }
  .sectionFooterWrap {
    flex-direction: column;
    padding: 24px;
  }
}

/* VERY LARGE SCREENS //////////// */
@media (min-width: 2200px) {
  .section {
    top: -100vh;
  }
  .siteLogoFloatAnim {
    display: flex;
  }
}
/* @keyframes logoFloat {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
    25% {
      transform: rotateX(4deg) rotateY(4deg);
    }
    75% {
      transform: rotateX(-4deg) rotateY(-4deg);
    }
    100% {
      transform: rotateX(0deg) rotateY(0deg);
    }
  } */
