.section {
  width: 100%;
  height: fit-content;
  position: relative;
  /* !!!- Z-INDEX BELOW NEEDS TO BE SET AT- ( -1 )!!!" SO THAT THE "CONTACT BUTTON" IS ON TOP OF IT WHEN SCROLLING UP */
  /* !!!- REALLY NOT NECESSARY BECAUSE YOU REALLY DON'T EVEN NOTICE THE EFFECT WHEN SCROLLING UP */
  /* z-index: -1; */
  padding: 50px 0;
  background: var(--bg);
}

.wrap {
  max-width: 1400px;
  margin: auto;
}

.headerWrap {
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
}

.header {
  width: 100%;
  height: fit-content;
  min-height: 100%;
  padding: 50px 30px 20px;
  display: flex;
  align-items: center;
  color: #3168ff;
  font-size: clamp(2.25rem, 1.3333rem + 4.0741vw, 5rem);
  font-family: var(--font-family);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  background-image: linear-gradient(111deg, #56fff8 9%, #0d0b88 78%);
}

.contentWrap {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* overflow: hidden; */
}

.content {
  width: 100%;
  height: 100%;
  min-height: 50vh;
  z-index: 1;
  position: relative;
  padding: 32px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.statement {
  width: fit-content;
  max-width: 500px;
  padding: 24px;
  color: #fff;
  font: 20px "Comfortaa", sans-serif;
  line-height: 28px;
  text-shadow: 0 0 5px #000;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 15px 1px #0007;
  background: linear-gradient(40deg, #3168ff44 9%, #56fff844 78%);
}

@media (min-width: 840px) {
  .content {
    flex-direction: row;
    gap: 0;
  }
}

.logo {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  box-shadow: 2px 2px 15px 1px #0007;
}

.actionBtnsWrap {
  display: flex;
  gap: 48px;
  align-items: center;
  /* border: solid red; */
  padding: 24px 0 12px;
}

.bgImg {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: 50% 35%;
}

@media (max-width: 480px) {
  .content {
    padding: 20px 24px;
  }
}
@media (max-width: 800px) {
  .actionBtnsWrap {
    flex-direction: column;
  }
}
