.whyChooseGuaranteeWrap {
  position: relative;
  padding: 24px;
  padding-bottom: 128px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 64px;
  background-color: var(--bg);
}
/* WHY CHOOSE /////////////////////////////////////////// */
.sectionWhyChoose {
  width: 100%;
  max-width: 700px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background-color: var(--bg);
  box-shadow: 0 2px 20px 1px #0003;
}

.whyChooseHeader {
  padding: 24px 0;
  text-align: center;
}

.whyChooseList {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: visible;
  font-size: 20px;
}

.whyChooseItem {
  position: relative;
  z-index: 1;
}

.whyChooseIcon {
  width: 64px;
  min-width: 30px;
  height: 64px;
  position: absolute;
  left: 12px;
  top: -12px;
  z-index: -1;
  margin: auto;
  overflow: visible;
  opacity: 0.3;
  background: url(/icons/drupal.svg) center / 80% no-repeat;
  filter: drop-shadow(0 1px 4px #00f);
}

.whyChooseItem span {
  font-weight: 700;
}

/* GUARANTEE /////////////////////////////////////////////// */
.sectionGuarantee {
  width: 100%;
  max-width: 700px;
  padding: 24px 32px 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
  background-color: var(--bg);
  box-shadow: 0 2px 20px 1px #0003;
}

.guaranteeHeader {
  margin: auto;
  text-align: center;
}

.guaranteeContentWrap {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;
}

.guaranteeImage {
  max-width: 170px;
  /* border: solid red; */
  max-height: 170px;
  border-radius: 100%;
}

@media (max-width: 700px) {
  .guaranteeContentWrap {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .sectionFooterWrap {
    flex-direction: column;
    padding: 24px;
    padding-bottom: 64px;
  }
}
