.container {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  object-fit: cover;
  object-position: 50% 50%;
}

.image.active {
  z-index: 0;
  opacity: 1;
  transition: opacity 1s ease;
  animation: zoom 6s linear infinite;
}

@keyframes zoom {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.2;
  }
}
