/* HERO SECTION */
.heroSection {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexWrap {
  width: 100%;
  height: fit-content;
  min-height: calc(90vh - 226px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.heroHeaderWrap {
  width: 100%;
  height: fit-content;
  /* overflow: hidden; */
  background: linear-gradient(111deg, #3168ffaa 9%, transparent 78%);
}

.heroHeader {
  position: relative;
  padding: 32px;
  color: #0ff;
  font: 900 clamp(2.25rem, 1.3333rem + 4.0741vw, 5rem) var(--font-family);
  text-shadow: var(--text-shadow-2), 2px 2px 7px #000a;
}

.heroServicesList {
  width: fit-content;
  height: fit-content;
  margin: 32px;
}

.heroServicesList li {
  width: fit-content;
  color: #fff;
  padding: 5px 5px 2px 20px;
  font-size: 20px;
  text-shadow: 0 0 5px #000;
  background: radial-gradient(circle at 10px 50%, #fff 2px, transparent 4px),
    linear-gradient(40deg, #3168ff44 9%, #56fff844 78%);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 2px 2px 15px 1px #0007;
}

.heroStatement {
  width: 100%;
  padding: 32px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 4px #000;
  font-family: var(--font-family);
  background: #0002;
  backdrop-filter: blur(7px);
  box-shadow: 0 0 10px 1px #0007;
}

@media (max-width: 480px) {
  .heroHeader {
    padding: 32px 24px 24px;
  }
  .heroServicesList {
    margin: 20px 24px;
  }
  .heroStatement {
    padding: 20px 24px;
  }
}

@media (max-width: 700px) {
  .heroHeader {
    font-size: 30px;
  }
}

@media (min-width: 800px) {
  .heroServicesList li {
    font-size: 30px;
  }
}

.swiperContainer {
  width: 100%;
  background: var(--bg);
  padding-bottom: 100px;
  font-family: "Comfortaa", sans-serif;
}

.swiperHeader {
  width: fit-content;
  margin: auto;
  padding: 32px;
  font-size: 33px;
}

.swiperAutoFlow {
  width: 100%;
  max-width: 700px;
  height: fit-content;
  display: flex;
  align-items: center;
}

.reviewContainer {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 24px;
  box-shadow: 0 1px 10px 1px #0002;
}

.avatar {
  width: 40px;
  height: auto;
  aspect-ratio: 1;
  margin-right: 10px;
  border-radius: 100%;
  background: url(/icons/account-circle-google.svg) center / 130%, #fafafe;
}

.clientName {
  color: #111;
  font-size: 18px;
  font-weight: 900;
  display: flex;
  gap: 5px;
  align-items: center;
}

.verifiedIcon {
  width: 24px;
  aspect-ratio: 1;
  background: url(/icons/verified-google-icon.svg) center / 100%;
}

.stars {
  width: fit-content;
  height: fit-content;
  display: flex;
}

.star {
  width: 25px;
  aspect-ratio: 1;
  height: auto;
  background: url(/icons/star-solid.svg) center / 100% no-repeat;
}

.reviewText {
  font-size: 20px;
  line-height: 22px;
}

.reviewLink {
  text-decoration: underline;
  color: #aaa;
  font-size: 17px;
}
