/* TESTING, TESTING, TESTING, TESTING...///////////////////////////////// */
.orderSummaryContainer {
  background-color: #eee;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 100px 32px;
}

.pre {
  border-radius: 32px;
  box-shadow: 0 2px 20px 1px #0002;
  padding: 32px;
}

.watergif {
  width: 100%;
  height: 500px;
  aspect-ratio: 1;
  position: relative;
  background: url(https://gifdb.com/images/high/blue-pool-water-reflection-ac7ghsk1xa52q7cn.webp)
    50% 100% / 100% no-repeat;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */

.landing {
  height: fit-content;
  min-height: calc(100vh - 126px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroStatement {
  width: 100%;
  max-width: 500px;
  height: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  /* box-shadow: 1px 2px 10px 1px #0009; */
  /* background: linear-gradient(
    to bottom right,
    #56fff822,
    #56fff844,
    #56fff822,
    #56fff844
  );
  backdrop-filter: blur(4px); */
  color: #fff;
  font-size: clamp(1.5rem, 0.9375rem + 2.5vw, 2.25rem);
  font-family: "Comfortaa", sans-serif;
  text-align: center;
  line-height: 150%;
  text-shadow: var(--text-shadow-4), 1px 2px 3px #000;
}

.heroStatement span {
  font-weight: 900;
  text-transform: uppercase;
}

.btnContact {
  margin-top: 100px;
  background: none;
}

.routeHeader {
  width: 100%;
  max-width: 1400px;
  height: 75px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  margin: auto;
  z-index: 100;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  font: 700 40px sans-serif;
  text-shadow: var(--text-shadow-4);
  padding: 15px 10px;
  text-align: center;
  background: #0002;
  backdrop-filter: blur(7px);
  box-shadow: 0 0 10px 1px #0007;
}

.headerText {
  position: relative;
  z-index: 101;
}

.btnNavServices {
  width: 40px;
  max-width: 40px;
  height: 40px;
  position: fixed;
  left: 10px;
  top: 20px;
  z-index: 10101;
  border-radius: 25px;
  background: var(--btn-nav-bg);
  background: #fff;
}

.btnNavServicesIcon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(/icons/chevron-down-solid.svg) center / 25% no-repeat;
  transition: transform 500ms ease;
}

.btnNavServices.open .btnNavServicesIcon {
  transform: rotate(-180deg);
}

.navServices {
  width: calc(100% - 80px);
  max-width: fit-content;
  max-height: calc(100vh - 150px);
  position: fixed;
  left: 20px;
  top: 55px;
  z-index: 100;
  padding: 20px;
  color: #222;
  font-family: "latin", sans-serif;
  text-shadow: none;
  background: #fff;
  border-radius: 24px;
  box-shadow: 1px 1px 10px 1px #0009;
}

p.headerNavServices {
  font: 18px "latin", sans-serif;
}

.navServices ul {
  height: 100%;
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

.navServices li {
  width: 100%;
  display: flex;
}
.navServices li:hover {
  border-color: #111;
}

.navServices a {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 100px;
  padding: 5px 10px;
}

.navServices a:hover {
  background-color: #f9f9f9;
}

.routeHeader p {
  margin: auto;
  font-size: clamp(1.5rem, 0.9375rem + 2.5vw, 2.25rem);
  font-family: "Comfortaa", sans-serif;
}

.sections {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 64px;
  background-color: #fefefe;
}

.section {
  width: 100%;
  height: fit-content;
  position: relative;
  top: -100vh;
  padding: 75px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  color: #fff;
  font-size: 22px;
  text-shadow: var(--text-shadow-1), 0 0 5px #000, 0 0 10px #000, 0 0 15px #000;
}

.sectionHeader {
  width: 100%;
  height: fit-content;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 48px 24px;
  font-size: 24px;
  /* text-shadow: var(--text-shadow-3), 4px 3px 7px #000; */
  text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 2px #000, 0 0 20px #0ff;
}

.sectionImage {
  width: 100%;
  max-width: 800px;
  height: auto;
  aspect-ratio: 16/9;
  position: relative;
  margin: 0 auto;
  object-fit: cover;
  object-position: 100% 100%;
}

.sectionContent {
  width: 100%;
  max-width: 760px;
  height: fit-content;
  margin: 50px auto;
  position: relative;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 2px #000, 0 0 20px #0ff;
  text-align: center;
  /* pointer-events: none; */
}

.beforeAfterContainer {
  width: 100%;
  max-width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 800px) {
  .beforeAfterContainer {
    flex-direction: column;
  }
}
.beforeAfterText {
  padding: 32px;
}

.imagesWrap {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
}

.beforeImage,
.afterImage {
  position: relative;
  width: auto;
  max-width: 100%;
  height: fit-content;
  max-height: 400px;
}

.afterImage {
  position: absolute;
  animation: afterImageOpacity 10s infinite linear;
}

.beforeText,
.afterText {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  min-width: 100px;
  padding: 3px 7px;
  text-align: center;
  color: #000;
  text-shadow: none;
  background-color: #eee;
}

.afterText {
  animation: afterImageOpacity 10s infinite linear;
}

@keyframes afterImageOpacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.section.technicalServices {
  border: solid blue;
  padding-left: 0;
  padding-right: 0;
}

.section.technicalServices .sectionImage {
  width: calc(100% - 48px);
}

.inViewRef {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  border: solid magenta;
}

.stickersContainer {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
  /* border: solid rebeccapurple; */
  filter: drop-shadow(0 0 20px #0009);
}

.pentairStickersDiv {
  /* border: solid red; */
  width: 100%;
  aspect-ratio: 512/539;
  height: auto;
  background: url(/services/certified-stickers-1024.png) 50% 0 no-repeat;
  background-size: cover;
}

.pentairStickers {
  /* border: solid rebeccapurple; */
  width: 100%;
  height: auto;
}

.stickersMessage {
  width: 100%;
  padding: 24px;
  text-align: center;
  background: rgb(11, 84, 151);
}

/* SITE LOGO FLOATING ANIMATION */
.siteLogoFloatAnim {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.logoFloatWrap {
  max-width: 333px;
  height: auto;
  display: flex;
  transform-style: preserve-3d;
  box-shadow: 0 0 333px 33px #0ff;
  animation: logoFloat 3s linear infinite;
}

@keyframes logoFloat {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  25% {
    transform: rotateX(4deg) rotateY(4deg);
  }
  75% {
    transform: rotateX(-4deg) rotateY(-4deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}

/* .logoFloatWrap:hover {
  animation: none;
} */

.logoFloat {
  width: 100%;
  height: auto;
}
