.landing {
  height: fit-content;
  min-height: calc(75vh + 92px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroStatement {
  width: 100%;
  max-width: 500px;
  height: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 4px;
  /* box-shadow: 1px 2px 10px 1px #0009; */
  /* background: linear-gradient(
    to bottom right,
    #56fff822,
    #56fff844,
    #56fff822,
    #56fff844
  );
  backdrop-filter: blur(4px); */
  color: #fff;
  font-size: clamp(1.5rem, 0.9375rem + 2.5vw, 2.25rem);
  font-family: var(--font-comfortaa);
  text-align: center;
  line-height: 150%;
  text-shadow: var(--text-shadow-4), 1px 2px 3px #000;
}

.heroStatement span {
  font-weight: 900;
  text-transform: uppercase;
}

.btnContact {
  /* margin-top: 100px; */
  background: none;
}

.routeHeader {
  width: 100%;
  /* max-width: 1400px; */
  height: 75px;
  position: relative;
  margin: auto;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font: 700 40px sans-serif;
  text-shadow: var(--text-shadow-4);
  background: #0002;
  backdrop-filter: blur(7px);
  box-shadow: 0 0 10px 1px #0007;
}

.routeHeader p {
  font-size: clamp(1.5rem, 0.9375rem + 2.5vw, 2.25rem);
  font-family: var(--font-comfortaa);
}

.sections {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  /* padding-bottom: 32px; */
  color: #222;
  font-size: 22px;
  background-color: var(--bg);
}

.section {
  width: 100%;
  max-width: 1400px;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
}

.header {
  width: 100%;
  height: fit-content;
  min-height: 71px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  text-shadow: var(--text-shadow-2);
  font-size: 32px;
  padding: 24px;
  background-size: cover;
}

.btnAndNavWrap {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  height: fit-content;
}

.btnNavServices {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 15px;
  z-index: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* border-top: 1px solid #0ff;
  border-left: 1px solid #0ff; */
  border-radius: 25px;
  background: #fff;
}

.btnNavServices.open {
  border: none;
}

.btnNavServicesIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  filter: drop-shadow(0 1px 1px #000c);
  background: url(/icons/chevron-down-solid.svg) center / 50% no-repeat;
  transition: transform 500ms ease;
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .btnNavServicesIcon:hover {
    transform: rotate(-180deg);
  }
} */

.btnNavServices.open .btnNavServicesIcon {
  filter: drop-shadow(0 -1px 1px #000c);
  transform: rotate(-180deg);
}

.navServicesBtnBg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.navServices {
  position: absolute;
  left: 10px;
  top: 15px;
  z-index: 10;
  width: calc(100% - 40px);
  max-width: fit-content;
  max-height: calc(100vh - 150px);
  padding: 56px 14px 24px;
  color: #fff;
  font-family: "latin", sans-serif;
  text-shadow: var(--text-shadow-5);
  background: #fff;
  border-radius: 24px;
  box-shadow: inset 1px 1px 1px 1px #0ff7, inset -1px -1px 2px 1px #0222,
    1px 1px 10px 1px #0007;
}

p.headerNavServices {
  font: 18px "latin", sans-serif;
}

.navServices ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

.navServices li {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: solid #fff;
  background-size: cover;
}

.navServices a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #0007;
}

.navServices a:hover {
  background-color: #0009;
}

.linkArrow {
  position: relative;
  width: 40px;
  height: 100%;
  background-size: 40%;
  background-position: 3px 50%;
  background-color: #0007;
  transition: background-position 300ms ease;
  background-repeat: no-repeat;
  background-image: url(/icons/chevron-right-cyan.svg);
}

.navServices a:hover ~ .linkArrow {
  background-color: #0009;
  background-position: calc(100% - 3px) 50%;
}

.subHeader {
  width: 100%;
  padding: 48px 24px 0;
}

.sectionContentWrap {
  position: relative;
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 64px;
}

.section:nth-child(odd) .sectionContentWrap {
  flex-direction: row-reverse;
}

/* INTRO STUFF /////////////////////////////////////////// */
/* INTRO ////////////////////////////////////////////////////// */
.intro {
  width: 100%;
  height: fit-content;
  min-height: 400px;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 24px;
  color: #fff;
  font: 900 24px var(--font-comfortaa);
  text-shadow: 0 0 4px #000;
  box-shadow: inset 0 2px 10px 1px #000a;
  overflow: hidden;
}

@media (max-width: 700px) {
  .intro {
    border-radius: 0;
  }
}

.introText {
  position: relative;
  z-index: 5;
  min-width: 100%;
  max-width: 700px;
  min-height: 100%;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  line-height: 30px;
}

.introImage {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introUnderlay {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: introUnderlayScale 6s infinite linear;
}

@keyframes introUnderlayScale {
  0% {
    opacity: 0;
    scale: 1;
  }
  40% {
    opacity: 0;
    scale: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    scale: 1.25;
  }
}

.introOverlay {
  position: absolute;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: introOverlayOpacity 6s infinite linear;
}

@keyframes introOverlayOpacity {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* DETAILS ////////////////////////////////////////////// */
.details {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  /* border: solid red; */
}
@media (max-width: 700px) {
  .details {
    padding: 24px;
  }
}

.detailsListSubHeader {
  /* border: solid blue; */
  padding-bottom: 12px;
}

.detailsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* border: solid orange; */
}

.detailsListItem {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
}

.cleaningDetailsListItem {
  display: block;
}

.checkbox {
  width: 25px;
  min-width: 25px;
  height: 25px;
  border: 1px solid #0af;
  border-radius: 4px;
  background: url(/icons/check-solid.svg) center / 100% no-repeat;
}

.sectionFooterWrap {
  position: relative;
  padding: 24px;
  padding-bottom: 128px;
  display: flex;
  align-items: center;
  gap: 64px;
  background-color: var(--bg);
}
/* WHY CHOOSE /////////////////////////////////////////// */
.sectionWhyChoose {
  width: 100%;
  max-width: 700px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background-color: var(--bg);
  box-shadow: 0 2px 20px 1px #0003;
}

.whyChooseHeader {
  padding: 24px 0;
  text-align: center;
}

.whyChooseList {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: visible;
  font-size: 20px;
}

.whyChooseItem {
  position: relative;
  z-index: 1;
}

.whyChooseIcon {
  width: 64px;
  min-width: 30px;
  height: 64px;
  position: absolute;
  left: 12px;
  top: -12px;
  z-index: -1;
  margin: auto;
  overflow: visible;
  opacity: 0.3;
  background: url(/icons/drupal.svg) center / 80% no-repeat;
  filter: drop-shadow(0 1px 4px #00f);
}

.whyChooseItem span {
  font-weight: 700;
}

/* GUARANTEE /////////////////////////////////////////////// */
.guaranteeWrap {
  width: 100%;
  max-width: 700px;
  padding: 24px 32px 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
  background-color: var(--bg);
  box-shadow: 0 2px 25px 1px #0003;
}

.guaranteeHeader {
  margin: auto;
  text-align: center;
}

.guaranteeContentWrap {
  width: 100%;
  max-width: 700px;
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 20px;
}

.guaranteeImage {
  max-width: 170px;
  /* border: solid red; */
  max-height: 170px;
  border-radius: 100%;
}

.sectionSubHeader .sectionContent {
  width: 100%;
  max-width: 760px;
  height: fit-content;
  margin: 50px auto;
  position: relative;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-shadow: 0 0 1px #000, 0 0 2px #000, 0 0 2px #000, 0 0 20px #0ff; */
  text-align: center;
  /* pointer-events: none; */
}

/* BEFORE/AFTER ////////////////////////////////////// */

.section.technicalServices {
  padding-left: 0;
  padding-right: 0;
}

.section.technicalServices .sectionImage {
  width: calc(100% - 48px);
}

.stickersContainer {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 32px auto;
  display: flex;
  flex-direction: column;
}

.pentairStickersDiv {
  /* border: solid red; */
  width: 100%;
  aspect-ratio: 512/539;
  height: auto;
  background: url(/services/certified-stickers-1024.png) 50% 0 no-repeat;
  background-size: cover;
}

.pentairStickers {
  /* border: solid rebeccapurple; */
  width: 100%;
  height: auto;
}

.stickersMessage {
  width: 100%;
  padding: 24px;
  text-align: center;
  background: rgb(11, 84, 151);
}

/* SITE LOGO FLOATING ANIMATION */
.siteLogoFloatAnim {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.logoFloatWrap {
  max-width: 500px;
  height: auto;
  display: flex;
  /* border: solid red; */
  /* transform-style: preserve-3d; */
  /* animation: logoFloat 3s linear infinite; */
}

.logoFloat {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 40px 1px #000a;
}

@media (max-width: 700px) {
  .header {
    position: sticky;
    top: -1px;
    z-index: 9;
    border: solid #3168ff;
    box-shadow: inset 0 0 4px 1px #0004, 0 4px 8px 1px #0007;
    padding: 0;
    font-size: 24px;
  }
  .intro {
    border-radius: 0;
  }
  .sectionContentWrap {
    padding-top: 0;
    gap: 32px;
    padding: 0;
  }
  .guaranteeContentWrap {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .sectionContentWrap {
    flex-direction: column-reverse;
  }

  .section:nth-child(odd) .sectionContentWrap {
    flex-direction: column-reverse;
  }
  .sectionFooterWrap {
    flex-direction: column;
    padding: 24px;
    padding-bottom: 64px;
  }
}
