.parallaxSectionContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.parallaxSection {
  position: relative;
}

.parallaxBgLayer {
  position: relative;
  display: flex;
}

.parallaxBgImg {
  width: auto;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.parallaxLayer1 {
  /* border: 10px solid #f0f; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallaxLayer2Overlay {
  /* border: 10px solid #0ff; */
  display: flex;
  justify-content: center;
  padding-top: 200px;
  position: relative;
  z-index: 1;
}
@media (min-width: 900px) {
  .parallaxLayer2Overlay {
    padding-top: 300px;
  }
}

.parallaxLayer2Bg {
  /* border: solid red; */
  max-width: calc(100% - 100px);
  margin: 20px auto;
  /* border: solid #0ff; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0ff;
}

.parallaxLayer2BgImg {
  width: 100%;
  min-height: 50vh;
  margin: auto;
  object-fit: cover;
  object-position: center bottom;
  border-radius: 1rem;
  box-shadow: 1px 2px 20px 1px #0006;
}

.parallaxLogo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-bottom: 20px;
}

.parallaxLayer4 {
  /* border: solid #f0f; */
  background: url(/globals/pentair.jpg) center / 20% no-repeat,
    radial-gradient(#0ff, transparent);
}

.btnToTop {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1010;
  font-size: 0;
  border: 1px solid #0ff;
  border-radius: 100%;
  filter: drop-shadow(1px 2px 3px #000a);
  background: url(/icons/chevron-up-cyan.svg) center / 50% no-repeat;
}
