.ui {
  width: 100%;
  max-width: 1400px;
  height: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1010;
}

/* BUTTON NAV MENU */
.btn-nav-bg {
  width: 50px;
  max-width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 99;
  background: var(--btn-nav-bg);
  backdrop-filter: blur(4px);
  border-top: 1px solid #0ff;
  border-left: 1px solid #0ff;
  border-radius: 25px;
  box-shadow: 1px 2px 10px 1px #0007;
  transition: 300ms ease;
}

.btn-nav-bg.nav-open {
  width: calc(100% - 20px);
  max-width: 690px;
  height: calc(100vh - 25px);
  transition: 400ms cubic-bezier(0.6, -0.04, 0.735, 0.045);
}

.btn-nav-bg-underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.btn-nav-bg-underlay.nav-open {
  display: block;
}

.btn-nav {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 101;
}

.btn-nav:focus-visible {
  border: solid var(--focus-visible);
}

.btn-nav .bar {
  width: 70%;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  transition: transform 200ms linear;
}

.btn-nav .bar.open {
  top: 38%;
  background: #0ff;
  box-shadow: inset 0 0.5px 0.5px 0.5px #fff9, 1px 1px 3px 1px #000d;
  filter: drop-shadow(0 0 5px #0ff);
}

.btn-nav .bar.open:nth-child(2) {
  top: auto;
  bottom: 38%;
}

.btn-nav .bar.open.scale-x {
  transform: scaleX(0);
}

.btn-nav .bar.close {
  top: 50%;
  background: red;
  filter: drop-shadow(0 0 5px cyan);
  transform: rotate(45deg);
}

.btn-nav .bar.close:nth-child(4) {
  transform: rotate(-45deg);
}

.btn-nav .bar.close.scale-x {
  transform: rotate(45deg) scaleX(0);
}

.btn-nav .bar.close.scale-x:nth-child(4) {
  transform: rotate(-45deg) scaleX(0);
}

/* NAV */
.nav {
  width: calc(100% - 60px);
  min-width: calc(50% - 40px);
  max-width: 640px;
  height: calc(100% - 85px);
  min-height: calc(100vh - 85px);
  max-height: calc(100% - 85px);
  border-top: 1px solid var(--nav-border);
  border-bottom: 1px solid var(--nav-border);
  position: absolute;
  top: 65px;
  right: 30px;
  z-index: 102;
  font-size: 30px;
  overflow: auto;
  overscroll-behavior: contain;
}
.nav-enter {
  opacity: 0;
}
.nav-enter-active {
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.nav-exit {
  opacity: 1;
}
.nav-exit-active {
  opacity: 0;
}

.nav-header {
  width: 100%;
  height: fit-content;
  position: relative;
  z-index: 10;
  display: flex;
}

/* NAV LINKS */
.nav-links-wrap {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link {
  width: 60px;
  min-width: 60px;
  height: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  color: var(--nav-link-text);
  font-size: 20px;
  letter-spacing: 3px;
  text-shadow: 0 0 1px #000, 0 0 2px #000, 0 1px 3px #000, 0 2px 4px #000;
  border-top: 1px solid var(--nav-link-border);
  border-left: 1px solid var(--nav-link-border);
  border-radius: 200px;
  box-shadow: 3px 3px 10px 1px rgb(0, 0, 0, 0.5);
  background-image: var(--nav-link-bg-image);
  position: relative;
}

.nav-link:hover {
  /* !!! DOING THIS PREVENTS CONTENT INSIDE FROM MOVING !!! */
  border-top: 2px solid var(--nav-link-border);
  border-left: 2px solid var(--nav-link-border);
  border-bottom: 1px solid var(--nav-link-border);
  border-right: 1px solid var(--nav-link-border);
}

/* CONTACT LINKS */
.contact-links-wrap {
  margin: 0 10px 70px;
  padding: 10px;
}

.contact-links-header {
  color: var(--contact-links-header);
  font: 100 20px var(--comfortaa);
  text-align: center;
  margin: 20px 0;
  text-shadow: 0 0 1px black, 0 0 2px black, 1px 1px 3px black,
    1px 2px 4px black;
}

.contact-links {
  max-width: 300px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.contact-link {
  width: 100%;
  min-width: 100px;
  max-width: 250px;
  height: fit-content;
  min-height: 48px;
  margin: auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  color: var(--contact-link-text);
  font: 20px "Chivo", sans-serif;
  text-align: center;
  text-shadow: 0 0 1px black, 0 0 2px black;
}

.contact-link::before {
  content: "";
  position: absolute;
  border: 1px solid var(--contact-link-border);
  border-radius: 300px;
  width: 100%;
  height: 48px;
  transition: transform 100ms ease, border-width 100ms ease;
}

.contact-link:hover::before {
  transform: scaleX(1.1);
  border-width: 2px;
  transition: transform 100ms ease, border-width 100ms ease;
}

:root {
  --contact-btn-trans: 1s;
}

.btn-contact-container {
  /* border: solid red; */
  width: 100%;
  height: 70px;
  min-height: 60px;
  position: relative;
  background: var(--bg);
}

.btn-contact-wrap {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  height: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  transition: transform var(--contact-btn-trans) ease;
  transform: none;
}

.btn-contact-wrap.fixed {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
  z-index: 10;
  transition: transform var(--contact-btn-trans) ease;
  transform: translateY(calc(100vh - 70px));
}

.btn-contact-wrap-open {
  background-color: var(--bg);
}

.btn-contact {
  width: 100%;
  max-width: 280px;
  min-height: 50px;
  position: relative;
  margin: auto;
  top: -10px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--contact-link-text);
  font: 20px "Chivo", sans-serif;
  text-align: center;
  padding: 3px 10px;
  border-radius: 300px;
  border-top: 1px solid #0ff;
  border-bottom: 1px solid #095ac5;
  text-shadow: 0 0 1px black, 0 0 2px black;
  background: radial-gradient(circle at 45% 40%, #0dd, #0d0b88 170%);
  transition: var(--contact-btn-trans) ease,
    height var(--contact-btn-trans) ease var(--contact-btn-trans),
    box-shadow 100ms ease, border 100ms ease;
  transform: none;
}

.btn-contact:focus-visible {
  border: solid var(--focus-visible);
}

.btn-contact.fixed {
  width: 50px;
  max-width: 50px;
  height: 50px;
  max-height: 50px;
  top: auto;
  bottom: 15px;
  gap: 0;
  transition: var(--contact-btn-trans) ease;
  transform: translateX(calc(50vw - 43px));
}

@media (min-width: 1400px) {
  .btn-contact.fixed {
    transform: translateX(calc(700px - 35px));
  }
}

.btn-contact.contact-link-gallery-page {
  margin-top: 100px;
}

.btn-contact .contact-link-text {
  width: 70%;
  text-align: center;
  overflow: hidden;
  opacity: 1;
  transition: width calc(var(--contact-btn-trans) / 2)
      calc(var(--contact-btn-trans) / 2),
    opacity calc(var(--contact-btn-trans) / 2) ease
      calc(var(--contact-btn-trans) / 2);
}

.btn-contact.fixed .contact-link-text {
  width: 0;
  opacity: 0;
  transition: width calc(var(--contact-btn-trans) / 2)
      calc(var(--contact-btn-trans) / 2),
    opacity calc(var(--contact-btn-trans) / 2) ease;
}

.btn-contact .contact-link-icon {
  width: 30px;
  height: 50px;
  background-image: url(/icons/chevron-right-cyan.svg);
  background-size: 50%;
  background-position: left;
  background-repeat: no-repeat;
  transition: background-position 300ms ease;
}

.btn-contact:hover {
  background: radial-gradient(circle at 45% 40%, #0ff, #0d0b88 220%);
}
.btn-contact:hover .contact-link-icon {
  background-position: right;
  transition: background-position 300ms ease;
}

.btn-contact.fixed .contact-link-icon {
  width: 50px;
  position: absolute;
  background-image: url(/icons/message-solid.svg);
  background-position: center;
}

.btn-contact.fixed:hover .contact-link-icon {
  background-size: 45%;
  background-position: center;
  transition: background-size 300ms ease;
}

.icon {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  pointer-events: none;
  filter: drop-shadow(0 0 3px #0004);
}

.icon.call {
  background-image: url(/icons/phone-solid.svg);
}

.icon.text {
  background-image: url(/icons/message-solid.svg);
}

.icon.email {
  background-image: url(/icons/envelope-solid.svg);
}

.icon.facebook {
  background-image: url(/icons/facebook.svg);
  background-size: 80%;
}

.icon.google {
  background-image: url(/icons/google.svg);
  background-size: 70%;
}

.contact-link:focus-visible {
  border: 1px solid #0ff;
}

/* BUTTON TO TOP */
.btn-to-top {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: calc(100vh - 55px);
  z-index: 98;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #0003;
  background: url(/icons/chevron-up-cyan.svg) center / 50% no-repeat, #0003;
  cursor: pointer;
}
.btn-to-top-enter {
  opacity: 0;
  transform: scale(0);
}
.btn-to-top-enter-active {
  opacity: 1;
  transform: none;
  transition: transform 300ms ease, opacity 500ms ease;
}
.btn-to-top-exit {
  opacity: 1;
}
.btn-to-top-exit-active {
  opacity: 0;
  transition: opacity 400ms ease;
}

.btn-to-top:hover {
  border: 1px solid #0ff;
}

/* MODAL */

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10101;
  color: #fff;
  font: 100 20px sans-serif;
  background: #000b;
  backdrop-filter: blur(10px);
  overflow: auto;
  overscroll-behavior: contain;
}

.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: opacity 400ms ease;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: opacity 200ms ease;
}

.modal-content-wrap {
  width: 100%;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.modal-header {
  height: 50px;
  width: 100%;
  max-width: 1000px;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-shadow: 0 0 1px black, -0.5px -0.5px 1px white,
    1px 1px 1px rgba(0, 0, 0, 0.9), 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.btn-close-modal {
  width: 50px;
  min-width: 50px;
  height: 50px;
  min-height: 50px;
  background: url(/icons/xmark-solid.svg) center / 30% no-repeat, transparent;
}

.btn-close-modal:focus-visible {
  border: solid cyan;
}

form.form-quote {
  width: 100%;
  max-width: 1000px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* FIGURE OUT WHY MESSAGE BOX (TEXTAREA) WON'T EXPAND ????????????? */
.input-form-quote,
textarea {
  padding: 10px;
  padding-left: 0;
  border: 1px solid cyan;
  color: #fff;
  font: 300 20px sans-serif;
  background-color: transparent;
  transition: padding-left 300ms ease;
}

.input-form-quote {
  max-width: 300px;
  border: transparent;
  border-bottom: 1px solid cyan;
}

.input-form-quote:focus,
textarea:focus {
  color: black;
  padding-left: 10px;
  background-color: #fff;
  border: 1px solid cyan;
  outline: transparent;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

.input-form-quote:focus::placeholder,
textarea:focus::placeholder {
  color: gray;
}

.input-form-quote::placeholder:focus,
textarea::placeholder:focus {
  color: gray;
}

textarea {
  max-width: 100%;
  min-height: 100px;
  max-height: 400px; /* EXPAND VERTICALLY NOT WORKING */
}

input.btn-submit-form,
.btn-close-alert-modal {
  width: 200px;
  min-height: 50px;
  margin: 30px auto;
  color: #fff;
  font: 20px "Chivo", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 1px black, 0 0 2px black, 0 0 3px black;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
  border: none;
  border-top: 1px solid cyan;
  border-radius: 10px;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    109.5deg,
    rgb(86, 255, 248, 0.5) 9.4%,
    rgb(13, 11, 136, 0.5) 78.4%
  );
  cursor: pointer;
}

.btn-submit-form.pressed,
.btn-close-alert-modal.pressed {
  border: 1px solid cyan;
  box-shadow: none;
}

/* ALERT MODAL */

.modal.alert p {
  margin: 20px 0;
  padding: 5px 10px;
  border-radius: 100px;
  text-align: center;
  text-shadow: 0 0 1px black, -0.5px -0.5px 1px white,
    1px 1px 1px rgba(0, 0, 0, 0.9), 2px 2px 2px rgba(0, 0, 0, 0.7);
  background: radial-gradient(circle at 45% 40%, #0dd, #0d0b88 170%);
}
.modal.alert h3 {
  padding: 20px 10px;
  text-align: center;
}
.alert-img,
.alert-img-icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.alert-img-icon {
  background: url(/icons/question-solid.svg) center / 30% no-repeat,
    radial-gradient(circle at 45% 40%, #0dd, #0d0b88 170%);
  filter: drop-shadow(1px 2px 3px #000a);
}
